.idea
*.iml
out
gen
environments/log
environments/security/localhost.crt
environments/security/localhost.csr
environments/security/localhost.key
client_modules
temp
node_modules
test.*
test
main
!main/**
bun.lockb
package-lock.json
.DS_Store
